<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>Mailbee</title>
<link rel="SHORTCUT ICON" href="http://joeschedule.com/faviconBee.ico"/>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/my.css"/>

<script src="/js/my.js">

</script>
</head>
<body>

<!-- <div class="large"> 
  This is a DIV sample. 
</div> -->

<p><b><font size="+1">Mailbee</font></b><br/>

    Where you can browse the web through email.
</p>
<div id="test" style="content: url(/svg/Cute_little_bugs_5706.svg); width: 200px; height: 200px;"></div>

<p class="large">                       
  <label for="message">Mail message :</label> <input type="submit" name="Operation" value="Publish">
  <label for="message"> message: <br>
  <textarea rows="3" cols="25" id="idMessage" name="message" placeholder="enter url"></textarea> <br>
    <label for="email:">email :</label> <input type="email" size="24" id="email" name="email" value=""> <br>
    <input type="submit" name="Operation" value="each">
    <button name="Operation" value="send to my_gmail" type="submit">send glazzed response to my_gmail</button>
        <!--
        <input type="submit"  name="Operation" value="send glazzed response to my_gmail"/>
            -->
  </label>
</p>

<div>
<a class="mbee" href="mailto:ah@joeschedule.mailgun.org?subject=Test(js) joemailweb.&amp;bcc=jimmy@joeschedule.mailgun.org&amp;body=%26lttags img=keep%26gt<tags img=keep>http://www.drudgereport.com/</tags> %26lt%3B%2Ftags%26gt"
  target="blank">
  <span>Drudge</span></a>
<br/>

<a class="mbee" href="mailto:ah@joeschedule.mailgun.org?subject=Test(js) joemailweb.&amp;bcc=jimmy@joeschedule.mailgun.org&amp;body=%26lttags img=keep%26gt<tags img=keep>https://news.google.com/gn/news/headlines?hl=en&ned=us&gl=US</tags> %26lt%3B%2Ftags%26gt"
  target="blank">
  <span>G-News</span></a>
<br/>

<a class="mbee" href="mailto:ah@joeschedule.mailgun.org?subject=Test(js) joemailweb.&amp;bcc=jimmy@joeschedule.mailgun.org&amp;body=%26lttags img=keep%26gt<tags img=keep>https:slashdot.org</tags> %26lt%3B%2Ftags%26gt"
  target="blank">
  <span>slashdot.org</span></a>
<br/>
plane janes<br/>
<a href="https://slashdot.org"  target="blank">  <span>Slashdot</span></a>
</div>
<input id="readTest" type="button" value="read test" onclick="doFunction('./read', document.getElementById('idMessage').value);" />
-
<input id="pingTest" type="button" value="ping test" onclick="doFunction('./ping', document.getElementById('idMessage').value);" />
</body>
</html>
