<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<ul class="list-group">
<li class="list-group-item"><p> 
This is a list of some of the technologies I worked on.
Most of it was original meant to be ran from the desktop and phone in the hopes of not making an IOS app.
<br/>Github: mastronardif
</p></li>

  <li class="list-group-item"> Angular 4 <a href='https://johndog.herokuapp.com/towncoupon/dist/'>Town Coupons(Heroku, Angular4, Node.js)</a></li>

  <li class="list-group-item"> <a href='http://johndog.herokuapp.com/ad/carbillboard/carads.html'>Car Ads(On Heroku, Node.js)</a> CSS </li>
  <li class="list-group-item"> MVC C# Javascript <a href='http://ads-2.apphb.com/Home/rootAds?id=carads'>Car Ads(On Appharbor, MVC C#, HTML, javascript)</a></li>

  <li class="list-group-item"> <a href='https://johndog.herokuapp.com/'>Dog Walkers(On Heroku, Node.js, Bootstrap, css)</a></li>

    
<li class="list-group-item"> <a href='http://ads-2.apphb.com/Home/myvm'>Root(On AppHarbor) MVC, javascript datatables</a> javascript datatables </li>
<li class="list-group-item"> <a href='https://chatty123.herokuapp.com/'>Chit Chatty(Heroku) Node.js, socketio.io</a> socketio.io </li>
<li class="list-group-item"> <a href='http://csmailbee.apphb.com/'>Mailbee(On AppHarbor) MVC, RabbitMQ</a> RabbitMQ, Background Jobs</li>


 <li class="list-group-item"> Locals </li>    
  <li class="list-group-item"> <a href='./carad'>car Ads</a></li>  
  <li class="list-group-item"> <a href='./grocery'>Grocery</a></li>



  <li class="list-group-item"> <a href='./taxi'>Taxi</a></li>

  <li class="list-group-item"> <a href='./sb'>Walkers sb</a></li>
  <li class="list-group-item"> <a href='./doggy'>Doggy</a></li>
  <li class="list-group-item"> <a href='./doggy00'>Doggy(0)</a></li>

  <li class="list-group-item"> <a href='./mycanvas'>mycanvas</a></li>
  <li class="list-group-item"> <a href='./about'>about</a></li>
  

</ul>